.room {
  text-align: center;
  height: 540px;
  width: 800px;
  margin: 0 auto;
  position:relative;
  &.kitchen {
    background: transparent url('/images/kitchen_background.png') 50% 50%;
  }
  // &.backyard {
  //   background: transparent url('/images/backyard_background.png') 50% 50%;
  // }
  img {
    position:absolute;
  }
  #textbox {
    position: absolute;
    width: 780px;
    height: 100px;

    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    color: white;
    text-align: left;

    background: black;
    background: rgba(0,0,0,0.8);

    bottom: 0;
    padding: 10px;
    line-height: 20px;

    z-index: 20;
    // display: none;
  }
}


